<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<connectionStrings>
		<!--<add name="EFContext" connectionString="Data Source=PAULO-PC;Initial Catalog=BD_POPS;Integrated Security=True" providerName="System.Data.SqlClient" />-->
        <add name="EFContext" connectionString="data source=localhost;Initial Catalog=BD_POPS;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
		<unitTestProvider name="MSTest" />
	</specFlow>
</configuration>