@{
    ViewBag.Title = "Home Page";
}
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="right" valign="top" class="title">
            1.
        </td>
        <td>
            <center><a id=up_4070363 href="vote?for=4070363&dir=up&whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border=0 vspace=3 hspace=2></a><span id=down_4070363></span></center>
        </td>
        <td class="title">
            <a href="http://googleonlinesecurity.blogspot.com/2012/06/security-warnings-for-suspected-state.html">
                Gmail security warnings for suspected state-sponsored attacks</a><span class="comhead">
                    (googleonlinesecurity.blogspot.com) </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
        <td class="subtext">
            <span id="score_4070363">86 points</span> by <a href="user?id=alecbenzer">alecbenzer</a>
            1 hour ago | <a href="item?id=4070363">31 comments</a>
        </td>
    </tr>
    <tr style="height: 5px">
    </tr>
    <tr>
        <td align="right" valign="top" class="title">
            2.
        </td>
        <td>
            <center><a id=up_4070018 href="vote?for=4070018&dir=up&whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border=0 vspace=3 hspace=2></a><span id=down_4070018></span></center>
        </td>
        <td class="title">
            <a href="http://news.railstutorial.org/ruby-on-rails-tutorial-screencasts-2nd-editio">
                Ruby on Rails Tutorial screencasts, 2nd edition</a><span class="comhead"> (railstutorial.org)
                </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
        <td class="subtext">
            <span id="score_4070018">88 points</span> by <a href="user?id=mhartl">mhartl</a>
            2 hours ago | <a href="item?id=4070018">26 comments</a>
        </td>
    </tr>
    <tr style="height: 5px">
    </tr>
    <tr>
        <td align="right" valign="top" class="title">
            3.
        </td>
        <td>
            <center><a id=up_4069613 href="vote?for=4069613&dir=up&whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border=0 vspace=3 hspace=2></a><span id=down_4069613></span></center>
        </td>
        <td class="title">
            <a href="http://nytimes.com/2012/06/03/opinion/sunday/we-only-think-we-know-the-truth-about-salt.html">
                Salt, We Misjudged You</a><span class="comhead"> (nytimes.com) </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
        <td class="subtext">
            <span id="score_4069613">143 points</span> by <a href="user?id=gruseom">gruseom</a>
            3 hours ago | <a href="item?id=4069613">57 comments</a>
        </td>
    </tr>
</table>
