@using PoPs.Web.Models;
@model UserChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Alterar Senha</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="alterar senha" />
}