@model PoPs.Web.Models.UserLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="login" />
    @Html.ActionLink("esqueci minha senha", "Forgot")
}
